<header>
    <button class="hamburger-menu">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
    </button> 
    <ul class="menufb">
        <li class="itemfb"><a href="/artwork">Art</a></li>
        <li class="itemfb"><a href="/">Home</a></li>
        <li class="itemfb"><a href="/about">About</a></li>
        <li class="itemfb"><a href="/favorites">Favorites</a></li>
        <li class="itemfb"><input type="text" name="Search" placeholder="Search..."></li>
    </ul>
</header>