    <header>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/artwork">Art</a>
    <input type="text" name="Search" placeholder="Search...">
        <div class="hamburger-menu">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
        </div>
    </header>