<header>
    <button class="hamburger-menu">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
    </button> 
    <ul class="menu-items">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/artwork">Art</a></li>
        <li><input type="text" name="Search" placeholder="Search..."></li>
    </ul>
</header>