{% render 'partials/head.liquid' %}

{% include 'partials/header.liquid' %}

<section class="artwork-main">
    <h1>ARTWORK</h1>
    <h6>STORIES IN BETWEEN LAYERS OF PAINT</h6>
</section>

{% include 'partials/art-list.liquid' %}

{% comment %} {% include 'partials/footer.liquid' %} {% endcomment %}

{% render 'partials/foot.liquid' %}
