{% render 'partials/head.liquid' %}

{% include 'partials/header.liquid' %}

    <section class="art-wall">
        {% include 'partials/single-art.liquid' %}
    </section>

{% render 'partials/foot.liquid' %}
