{% render 'partials/head.liquid' %}

{% include 'partials/header.liquid' %}

{% comment %} <div class="myOwnDiv" data-270-model="hva-pictureframe1-horizontal" data-270-width="500px" data-270-height="500px"></div> {% endcomment %}
    {% comment %} <a class="test" href="/artwork">Go Back</a> {% endcomment %}
    <section class="art-wall">
        {% include 'partials/single-art.liquid' %}
    </section>

{% comment %} {% include 'partials/footer.liquid' %} {% endcomment %}

{% render 'partials/foot.liquid' %}
