/* Home Page Styling */

/* Header and Footer Styling */
header {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem;
    ul {
        display: none;
    }
    li {
        list-style: none;
    }
}

.menuActive {
    display: inline-block;
}

/* Header and Footer Styling */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

main {
    .hero-text {
        line-height: 1;
        text-align: center;
        letter-spacing: 1px;
        margin: 40px;
        position: absolute;
        top: 13%;
    }
    .ofpaint {
        margin-left: 6rem;
    }
    .hero-image {
        display: inline-block;
        width: 35rem;
        position: absolute;
        right: 10%;
        top: 22%;
    }
}

.diagonal-bar {
    position: absolute;
    top: 50%;
    left: -110px;
    width: 200%;
    height: 30px; 
    background-color: var(--text-color); 
    opacity: 0.5;
    transform: rotate(-35deg); 
    z-index: 1; 
}
.back {
    top: 43%;
    z-index: 0;
}

footer {
    a {
        text-decoration: none;
        color: var(--text-color);
        &:hover {
            color: var(--hover-color);
            transition: color 0.3s ease-in-out;
        }
    }
}

.degreesLink {
    transform: rotate(-90deg);
    position: absolute;
    left: -12%;
    bottom: 8%;
}

.rijksLink {
    transform: rotate(90deg);
    position: absolute;
    right: -12%;
    bottom: 8%;
}

/* Artwork Page stlying */

.artList {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    li {
        margin-bottom: 2rem;
        list-style: none;
        h2 {
            font-size: var(--size-xs);
        }
    }
}