/* Header Styling */

header {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;   
    padding: 1.5rem;
    .hamburger-menu {
        z-index: 999;
    }
    .menu-items {
        background-color: white;
        position: fixed;
        top: 0;
        right: -50vw;
        padding: 3rem;
        height: 100vh;
        width: 40vw;
        z-index: 998;
        transition: right 0.3s ease-in-out;
        &.active {
            right: 0;
        }
        .nav-item {
            position: relative;
            top: 30vh;
            margin-bottom: 2rem;
            list-style: none;
            &:hover {
                transform: scale(1.1);
                transition: transform 0.2s ease-in-out;
            }
        }
        a {
            font-size: var(--heading-6);
        }
    }
}

.menuActive {
    right: 0;
}

/* Home Page Styling */

main {
    .hero-text {
        line-height: 1;
        text-align: center;
        letter-spacing: 1px;
        margin: 40px;
        position: absolute;
        top: 13%;
        z-index: -1;
        @media (min-width: 768px) {
            left: 15%;
            font-size: var(--size-xxxl);
        }
        @media (min-width: 1366px ) {
            left: 5%;
            top: 15%;
            font-size: var(--size-extral);
        }
    }
    .ofpaint {
        margin-left: 3rem;
    }
    .hero-image {
        width: 22rem;
        position: sticky;
        top: 0;
        left: 50%;
        transform: translateX(-20vw) translateY(35vh);
        z-index: -1;
        @media (min-width: 768px) {
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(65%);
            width: 28rem;
        }
        @media (min-width: 1366px ) {
            top: 0%;
            width: 35rem;
            transform: translateX(-20%) translateY(10%);
        }
    }
}

.diagonal-bar {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 110vw; /* een vaste breedte */
    height: 30px;
    background-color: var(--text-color);
    opacity: 0.5;
    transform: translateX(-50%) rotate(-35deg);
    z-index: -1;
    pointer-events: none; /* optioneel: voorkomt klikken */
    @media (min-width: 1366px ) {
        width: 70vw;
        top: 50%;
    }
}
.back {
    top: 53%;
    z-index: -1;
    @media (min-width: 1366px ) {
        top: 43%;
    }
}

/* Footer Styling */

footer {
    a {
        text-decoration: none;
        color: var(--text-color);
        &:hover {
            color: var(--hover-color);
            transition: color 0.3s ease-in-out;
        }
    }
}

.degreesLink {
    transform: rotate(-90deg);
    position: absolute;
    left: -12%;
    bottom: 8%;
}

.rijksLink {
    transform: rotate(90deg);
    position: absolute;
    right: -12%;
    bottom: 8%;
}

/* Artwork Page stlying */

.artList {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    li {
        margin-bottom: 2rem;
        list-style: none;
        h2 {
            font-size: var(--size-xs);
        }
    }
}